
/*------------> globan satting <---------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f8ff;
}
/*------------> Common Styles <---------------*/

.flex-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary-color{
    color: #4E47FF;
}

.raleway-font-style{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-optical-sizing: auto;
}

.display-flex-clear::after{
    display: block;
    clear: both;
    content: '';
}




/*------------> Header Styles Start <---------------*/
.header{
    max-width: 1440px;
    height: 550px;
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 20px;

}
/*------------> Navbar Styles Start <---------------*/
.nav-section{
    height: 100px;
    max-width: 1140px;
    margin: 0 120px;
}
.nav-section h1{
    font-size:34px;
    font-weight: 900;
    text-align: left;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul li{
    list-style-type: none;
}
.nav-ul li .nav-btn{
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s ease;
}
.nav-ul li .nav-btn:hover{
    filter: brightness(1.5);
    font-size: 18px;
}

/*------------> Banner Styles Start <---------------*/

.banner-content{
    max-width: 905px;
    height: 230px;
    margin: 140px 250px;
    position: relative;

}
.banner-content .banner-title{
    font-size: 55px;
    text-align: center;
    color: #252432;

}
.banner-btn{
    width: 155px;
    height: 50px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translateX(-50%,-50%);
    transition: 1s ease;
    cursor: pointer;

}
.banner-btn:hover{
    background-color: #4d47ffac;
    width: 145px;
    height: 40px;

}

/*------------> main Styles Start <---------------*/

.main{
    max-width: 1140px;
    height: auto;
    margin: 120px 120px 0px 120px;

}
/*------------> Action Styles Start <---------------*/

.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.action-left h1{
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-left p{
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: rgb(37, 36, 50,0.8);
    width: 507px;
    margin-bottom: 23px;
}

.action-left button {
   padding: 12px 36px;
   border-radius: 10px;
   background-color: #4E47FF;
   color: white;
   font-size: 16px;
   border: none;
   outline: none;
   transition: 1s ease-in;
   cursor: pointer;
   font-weight: 700;
}
.action-left button:hover{
    filter: brightness(2);
    color: rgb(26, 172, 217);
}



.action-right img{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}

/*------------> Counter Styles Start <---------------*/

.Counter-section{
   max-width: 1140px;
   height: 306px;
   background-color: #e6e7fe;
   border-radius: 24px;
   margin-top: 120px;

}
.counter-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 167px;
}
.Counter-section .Counter-section-title{
    font-size: 38px;
    padding-top: 40px;
    color: #252432;
    text-align: center;

}
.counter-inner h1{
    font-size: 80px;
    font-weight: 700;
    font-family: "Inter", sans-serif;

}
.counter-inner{
    text-align: center;
}
.counter-inner p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000000;
}

/*------------> Feedback Styles Start <---------------*/

.feedback-section{
    max-width: 1142px;
    height: 342px;
    margin-top: 120px;

}
.feedback-section .feedback-title{
    text-align: center;
    font-size: 42px;
    color: #252432;
}

.feedback-user-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 20px;

}
.user1{
    background-color: rgb(255, 255, 255,0.5);
    box-shadow: 2px 2px 1px #F2EDED,-2px -2px 1px #F2EDED;
    border-radius: 14px;
    padding: 24px;
    gap: 24px;
   
}
.user1 .star img{
    width: 17px;
    height: auto;

}
.user1 h1{
     font-family: "Open Sans", sans-serif;
     font-size: 18px;
     margin: 10px 0px;
     text-align: left;
}
.user1 .user-para{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin: 10px 0px;
    text-align: left;
}
.user-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.user-content img{
    width: 40px;
    height: 40px;
    border-radius: 9999px;

}
.user-ditals{
    margin-left: 12px;
    margin-top: 5px;

}
.user-ditals h2{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #252432;
    font-weight: 700;

}
.user-ditals p{
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    color: #252432e9;
    font-weight: 400;
}

/*------------> Focus Styles Start <---------------*/

.focus-section{
    max-width: 1140px;
    height: 495px;
    padding: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 80px;
    row-gap: 20px;
    border-radius: 14px;
}
.focus-title{
    font-size: 50px;
    color: #000000;

}
.focus-section p{
    font-size: 17px;
    font-weight: 300;
    color: #252432;
    font-family: "Open Sans", sans-serif;
    
}
.focus-btn{
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px #e6e7fe,-1px -1px 1px #e6e7ef;
    background-color: #4E47FF;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 1s ease;

}
.focus-btn:hover{
    filter: brightness(1.5);
    background-color: rgb(187, 26, 212);
    color: rgb(17, 228, 239);
    font-size: 17px;
}
.focus-section img{
    width: 840px;
    height: 365px;
    border-radius: 48px;

}

/*------------> Touch Styles Start <---------------*/
 .touch-section {
    max-width: 1140px;
    height: auto;
    padding-top: 71px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;
}

.touch-left {
    
    width: 528px;
    height: 232px;
}
.touch-left h1{
    font-size: 80px;
    text-align: left;
    color: #000000;
}
.touch-right {
    width: 497px;
    height: 490px;
}

.touch-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
  
}

.touch-right input,
.touch-right textarea,
.touch-right button {
    box-sizing: border-box;
    margin-bottom: 15px;
}
.touch-right label{
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: left;
    color: #000000;

}
.touch-right input{
    width: 497px;
    height: 40px;
    padding: 20px 32px;
    box-shadow: 1px 1px 1px #D6DDED,-1px -1px 1px #D6DDED;
    border-radius: 10px;
    background-color: white;
    border: none;
    outline: none;
}
.touch-right textarea{
    width: 497px;
    height: 135px;
    padding: 20px 32px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #D6DDED,-1px -1px 1px #D6DDED;
    resize: none;
    border: none;
    outline: none;
}
.touch-right button{
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px #e6e7fe,-1px -1px 1px #e6e7ef;
    background-color: #4E47FF;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 1s ease;
}
.touch-right button:hover{
    background-color: green;
    color: #e6e7fe;
}

/*------------> footer Styles Start <---------------*/
.footer{
    max-width: 1440px;
    height: 428px;
    background-color: white;
    box-shadow: 1px 1px 1px #00000028,-1px -1px 1px #00000028;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content{
    text-align: center;
    width: 550px;
    height: 221px;
    align-content: center;
}
.footer-content h1{
    font-size: 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
}
.footer-content p{
    font-size: 17px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #8582a7;
    text-align: center;
    /* width: 450px; */
}
.footer-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 17px;
}
.footer-ul li{
    list-style-type: none;

}
.footer-ul li a{
    text-decoration: none;
    color: #8e8bad;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    transition: color 1s ease;
    
}
.footer-ul li a:hover{
    color: #564db9;
}